.main__container {
    margin-left: 160px;
    margin-right: 160px;

    &__h1 {
        text-align: center;
        margin-bottom: 47px;

        h1 {
            font-size: 96px;
            font-family: $second-font;
            color: $black;
            position: relative;

            &::before {
                content: "";
                width: 90px;
                height: 4px;
                position: absolute;
                background-color: #CAC6BB;
                top: 140px;
                left: 435px;
            }
        }

    }

    &__flex {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        max-height: 700px;

        &__services {
            // grid-area: service;
            min-width: 390px;
            margin-top: 140px;

            h3 {
                font-size: 32px;
                font-family: $second-font;
                font-weight: 600;
                margin-bottom: 32px;
                color: $black;
            }

            &__article {
                margin-bottom: 33px;
                max-width: 60%;

                &-flex {
                    display: flex;
                    align-items: center;
                    // column-gap: 16px;
                    // margin-bottom: 16px;

                    &-img {
                        background-color: #FFFFFF;
                        padding: 12px;
                    }

                    &-desc p {
                        font-family: $second-font;
                        font-weight: 600;
                    }
                }

                &-p {
                    color: $grey;
                    line-height: 32px;
                }

            }

            &__hero {
                grid-area: hero;
                text-align: center;
            }

            &__web {
                grid-area: web;

            }
        }

        &__hero {}

        &__web {
            margin-top: 140px;

            &-top {
                margin-bottom: 73px;
                min-width: 540px;

                h3 {
                    font-family: $second-font;
                    font-size: 30px;
                    margin-bottom: 32px;
                    width: 100%;
                    color: $black;
                }

                p {
                    color: $grey;
                    line-height: 32px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                    max-width: 76%;
                    margin-bottom: 48px;
                }

                a {
                    padding: 12px 38px;
                    background-color: $black;
                    color: $white;
                    text-decoration: none;

                }
            }

            &-botton {
                &-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    max-width: 350px;

                    &-item {
                        h4 {
                            font-size: 32px;
                            font-family: $second-font;
                            font-weight: 600;
                            margin-bottom: 10px;
                            color: $black;
                        }

                        p {
                            color: $grey;
                        }
                    }

                    .item2 {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}